<div class="sidebar">

    <div>

        <div class="logo">

            Academia System

        </div>

        <div class="menu">

            <a href="/dashboard-admin">

                Dashboard

            </a>

            <a href="/alunos">

                Alunos

            </a>

            <a href="/planos">

                Planos

            </a>

            <a href="/exercicios">

                Exercícios

            </a>

            <a href="/treinos">

                Treinos Modelo

            </a>

            <a href="#">

                Pagamentos

            </a>

            <a href="#">

                Configurações

            </a>

        </div>

    </div>

    <div class="menu">

        <a
        href="/logout"
        class="logout">

            Logout

        </a>

    </div>

</div>


