<div class="sidebar">

    <div>

        <div class="logo">
            Academia
        </div>

        <div class="menu">

            <a href="/dashboard-aluno">
                Dashboard
            </a>

            <a href="#">
                Meu Plano
            </a>

            <a href="#">
                Meus Treinos
            </a>

            <a href="#">
                Treinos Personalizados
            </a>

            <a href="#">
                Pagamentos
            </a>

            <a href="#">
                Perfil
            </a>

        </div>

    </div>

    <a
    href="/logout"
    class="logout">

        Sair

    </a>

</div>

